html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

@keyframes cardZoom {
  from { zoom: 1.0 }
  to { zoom: 1.2 }
}

.card.clickable:hover {
    margin: 10px 10px;
    width: 66px;
    zoom: 1.2;
}