.game {
    padding: 16px;
}

.scene {
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    background-color: #303030;
}

.column-3 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
}
